.buton {
    border: 1px solid rgb(167, 163, 162);
    padding: 3px 7px;
    border-radius: 5px;
    transition:  all .3s linear;
}
.buton:hover{
    background:linear-gradient( to left, green ,red ,  green);
    color: white;
    transform: scale(1.2);

}